h1{

    background-image:url("images/980w/logo_1.png");
}


.header p {
    font-size: 2rem;
    margin: 0;
}

a {
    color: #2D4815 !important;
    font-family: "Montserrat", sans-serif !important;

}
a:hover{
    color: #ffffff !important;
}


body {
    background-color: rgba(27, 95, 43, 0.37);
    font-family: "Montserrat", sans-serif;

}

#logo-heading {
    background-image: url('images/980w/logo_1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: -9999px;
    height: 0px;
}

footer {
    background-color: rgba(27, 95, 43, 0.7);
    color: white;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;

}
footer div{
    display: flex;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
footer a:hover {
    color: white;
}


h2 {
    font-family: "Raleway", sans-serif;
    color: #A6CE88;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    padding: 1rem;
}

h3 {
    font-family: "Raleway", sans-serif;
    color: #2D4815
}

.video-iframe {
    width: 500px;
    height: 315px;
}

.carousel-control-next {
    background-color: rgba(0, 128, 0, 0.5);

}
.carousel-control-prev {
    background-color: rgba(0, 128, 0, 0.5);
}

section article div > div {
    background-color: #A6CE88;
}

section article div > div > img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid black;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: "Montserrat", sans-serif;
    color: #1B5F2B;
}

input[type="text"],

input[type="email"],

input[type="checkbox"],

input[type="radio"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #1B5F2B;
}
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #1B5F2B;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

input.checkmark {
    display: inline-block;
    height: 25px;
    width: 25px;
    background-color: #1B5F2B;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 6px;
    border: 1px solid #ccc;
}

input[type="radio"]:checked + .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1B5F2B;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #1B5F2B;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1rem;
}

